//---------------컬러 변수 정리---------------
$mainColor: #5baaff;
$subColor01: #81bcff;
$subColor02: #0077ff;
$sideBarColor: #218cff;
$fontColor: #333;
$subFontColor: #858585;
$highlight_red: #ff3838;
$gray01: #212121;
$gray02: #545454;
$gray03: #878787;
$gray04: #aaaaaa;
$borderColor: #cdcdcd;
$backgroundColor: #e3eaff;
$white: #ffffff;


//---------------폰트 변수 정리---------------
$boldFont: 'NotoSansB', '맑은 고딕', sans-serif;
$middleFont: 'NotoSansM', '맑은 고딕', sans-serif;
$regularFont: 'NotoSansR', '맑은 고딕', sans-serif;
$thinFont: 'NotoSansT', '맑은 고딕', sans-serif;

//---------------display flex style mixin---------------
@mixin flex-style($flexDirection: row, $alignVal: center, $justifyVal: center) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignVal;
  justify-content: $justifyVal;
}

//---------------position style mixin---------------
@mixin position-style($position: absolute, $left: 0, $top: 0, $zIndex: null) {
  position: $position;
  left: $left;
  top: $top;
  z-index: $zIndex;
}

@mixin btnShadow($color) {
  box-shadow: 1px 1px 3px $color;
}